/**
*
*	@author 	Nabil Muhammad Firdaus
*	@link 		www.nmfzone.com
*	@github 	nmfzone
*
*/

* {
	margin: 0 auto;
	padding: 0 auto;
}

.w70 {
	width: 70%;
}
.w80 {
	width: 80%;
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
input[disabled] {
	cursor: default;
}

body {
	background: #FFFFFF;
	width: 100%;
	overflow: hidden;
}

.wrapper {
	overflow: hidden;
}

#uii-form {
	width: 100%;
}

#uii-form.login {
	background: #fff;
	padding: 15px;
}

#uii-form.login > .uii-input-control {
	margin: 0 0 10px 0;
	clear: both;
	width: 100%;
}

#uii-form.login > .uii-input-control > label {
	min-width: 45%;
	margin-right: 5%;
}

#uii-form.login > .uii-input-control > input {
	max-width: 50%;
}

#uii-form.login > .uii-input-control {
	margin: 5px 0 0 0;
	clear: both;
}